<plugin name='icescrum-attachmentable' version='0.2' grailsVersion='1.3 &gt; *'>
  <author>Vincent Barrier</author>
  <authorEmail>vincent.barrier@icescrum.com</authorEmail>
  <title>iceScrum attachmentable plugin</title>
  <description>Attach file to your domain class in a generic manner (without MultipartFile or Ajax)
           if you don't need to customize ajax/multipartFile -&gt; Try Attachmentable plugin</description>
  <documentation>http://icescrum.org/plugin/attachmentable</documentation>
  <resources>
    <resource>BuildConfig</resource>
    <resource>org.icescrum.plugins.attachmentable.controller.AttachmentableController</resource>
    <resource>org.icescrum.plugins.attachmentable.domain.Attachment</resource>
    <resource>org.icescrum.plugins.attachmentable.domain.AttachmentLink</resource>
    <resource>org.icescrum.plugins.attachmentable.services.AttachmentableService</resource>
    <resource>org.icescrum.plugins.attachmentable.taglib.AttachmentsTagLib</resource>
  </resources>
  <dependencies />
  <behavior />
</plugin>